--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: saitama; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.saitama (
    id integer NOT NULL,
    image_path text,
    description text,
    region text NOT NULL,
    address text,
    name text
);


ALTER TABLE public.saitama OWNER TO postgres;

--
-- Data for Name: saitama; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: saitama saitama_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saitama
    ADD CONSTRAINT saitama_pkey PRIMARY KEY (id, region);


--
-- PostgreSQL database dump complete
--

